Package: cldemo-wbench-chefserver
Version: 1.8
Section: base
Priority: optional
Architecture: all
Depends: chef-server-core, cldemo-wbench-base, expect, cldemo-wbench-ztp-chef, chef
Replaces: chef-server-core
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: Chef Server basic configuration
  Setup the Chef server, add a user
