Package: cldemo-wbench-ospfunnum-puppet
Version: 0.1-1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-puppetserver, ruby2.1-dev, ruby-switch
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: Puppet, PTM and OSPF Unnumbered IPv4
  2 or 4 switch lab, managed by Puppet, OSPF Unnumbered IPv4 and PTM
