Package: cldemo-wbench-base-puppet
Version: 2.0-1
Section: base
Priority: optional
Architecture: all
Depends: puppetmaster, cldemo-wbench-base, cldemo-wbench-ztp-puppet, puppet
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: Puppetmaster basic configuration
  Setup the puppetmaster, fileserver, autosigning etc
