Package: cldemo-wbench-ospfunnum-ansible
Version: 0.1-5
Section: base
Priority: optional
Architecture: all
Depends: ansible, cldemo-wbench-base, cldemo-wbench-ztp-ansible, ruby2.1-dev, ruby-switch
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: Ansible, PTM and OSPF Unnumbered IPv4
  2 or 4 switch lab, managed by Ansible, OSPF Unnumbered IPv4 and PTM
