Package: cldemo-wbench-ospfunnum-chef
Version: 0.2-2
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-chefserver, ruby2.1-dev, ruby-switch
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: Chef, PTM and OSPF Unnumbered IPv4
  2 or 4 switch lab, managed by Chef, OSPF Unnumbered IPv4 and PTM
